h1{
    text-align: center;
    font-size: 25px;
    color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 850px;
    background-color: #dcdcdc;
    text-align: center;
    margin-left: 200px;
    padding-bottom: 20px;
}

header{
    width: 850px;
    height: 350px;
    background-color: #a9a9a9;
    float: left;
}

#menu-navegacao{
    list-style: none;
}

#coluna-1{
    float: left;
    width: 200px;
    text-align: left;
    font-size: 20px;
    height: 390px;
    background-color: #DAA520;
    color: aliceblue;
}

#coluna-2{
    text-align: center;
    font-size: 20px;
    width: 650px;
    float: left;
}

table,th,td{
    margin: auto;
    border: 0.5px solid #DAA520;
    margin-bottom: 10px;
}

#rodape{
    width: 850px;
    background-color: #a9a9a9;
    margin-bottom: 20px;
    float: left;
}
